<!-- app/views/subcategories/_products.html.erb -->
<% if @subcategory %>
  <h4><%= @subcategory.name %></h4>
<% end %>

<% products.each do |product| %>
  <div class="col-md-4">
    <div class="card h-100">
      <%= link_to product_path(product) do %>
        <div class="card-body">
          <h5 class="card-title" style=" overflow: hidden; font-size: 16px;"><%= product.name %></h5>
          <p class="card-text">Weight: <%= product.weight %></p>
          <p class="card-text">Price: <%= product.price %></p>
        </div>
      <% end %>
      <div style="position: absolute; bottom: 20px; left: 70%; transform: translateX(-50%);">
        <div id="quantity-buttons-<%= product.id %>" style="padding-right: 25px;">
          <% if user_signed_in? %>
            <% if @cart.cart_products.where(product_id: product.id).exists? %>
              <%= render partial: 'carts/quantity_buttons', locals: { cart_product: @cart.cart_products.find_by(product_id: product.id), product: product } %>
            <% else %>
              <%= form_for product, url: add_to_cart_carts_path(product_id: product.id), method: :post, remote: true do |f| %>
                <%= f.hidden_field :product_id, value: product.id %>
                <%= f.submit "Add", class: "button" %>
              <% end %>
            <% end %>
          <% else %>
            <% if session[:cart] && session[:cart][product.id] %>
              <%= render partial: 'carts/quantity_buttons', locals: { quantity: session[:cart][product.id], product: product } %>
            <% else %>
              <%= form_tag add_to_cart_carts_path(product_id: product.id), method: :post, remote: true do %>
                <%= submit_tag "Add", class: "button" %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div> 
  </div>
<% end %>
