<div style="margin-top:100px;"></div>
  <div class="container">
    <div class="row bg-green"> 
     <img alt="paan-corner-banner" width="1248px" height="204px" href="	https://cdn.zeptonow.com/web-static-assets-prod/ar…images/paan-corner/paan-corner-banner-desktop.png"> </img>
    </div>
  </div>

  <div class="container">
    <div style="width: 100%; margin-bottom: 16px; padding-bottom: 0px; padding-top: 0px;">
      <div class="row ">
        <img alt="50 free.png" loading="lazy" width="100%" height="100%" decoding="async" data-nimg="1" class="relative overflow-hidden false " sizes="(max-width: 768px) 100vw, (max-width: 5000px) 50vw, 33vw" srcset="https://cdn.zeptonow.com/production///tr:w-984,ar-984-408,pr-true,f-auto,q-80/inventory/banner/33845ebe-993a-468d-99a5-671a705ba35b.png 256w, https://cdn.zeptonow.com/production///tr:w-984,ar-984-408,pr-true,f-auto,q-80/inventory/banner/33845ebe-993a-468d-99a5-671a705ba35b.png 384w, https://cdn.zeptonow.com/production///tr:w-984,ar-984-408,pr-true,f-auto,q-80/inventory/banner/33845ebe-993a-468d-99a5-671a705ba35b.png 640w, https://cdn.zeptonow.com/production///tr:w-984,ar-984-408,pr-true,f-auto,q-80/inventory/banner/33845ebe-993a-468d-99a5-671a705ba35b.png 750w, https://cdn.zeptonow.com/production///tr:w-984,ar-984-408,pr-true,f-auto,q-80/inventory/banner/33845ebe-993a-468d-99a5-671a705ba35b.png 828w, https://cdn.zeptonow.com/production///tr:w-984,ar-984-408,pr-true,f-auto,q-80/inventory/banner/33845ebe-993a-468d-99a5-671a705ba35b.png 1080w, https://cdn.zeptonow.com/production///tr:w-984,ar-984-408,pr-true,f-auto,q-80/inventory/banner/33845ebe-993a-468d-99a5-671a705ba35b.png 1200w, https://cdn.zeptonow.com/production///tr:w-984,ar-984-408,pr-true,f-auto,q-80/inventory/banner/33845ebe-993a-468d-99a5-671a705ba35b.png 1920w, https://cdn.zeptonow.com/production///tr:w-984,ar-984-408,pr-true,f-auto,q-80/inventory/banner/33845ebe-993a-468d-99a5-671a705ba35b.png 2048w, https://cdn.zeptonow.com/production///tr:w-984,ar-984-408,pr-true,f-auto,q-80/inventory/banner/33845ebe-993a-468d-99a5-671a705ba35b.png 3840w" src="https://cdn.zeptonow.com/production///tr:w-984,ar-984-408,pr-true,f-auto,q-80/inventory/banner/33845ebe-993a-468d-99a5-671a705ba35b.png" style="color: transparent; object-fit: contain; width: 100%; aspect-ratio: 2.41176 / 1; margin-bottom: -1px; padding-left: 16px; padding-right: 16px;">
      </div>
    </div>  
  </div>

  <div class="container">
    <div style="width: 100%; margin-bottom: 16px; padding-bottom: 0px; padding-top: 0px;">
      <div class="row ">
        <img alt="Property 1=Brownie.png" loading="lazy" width="100%" height="100%" decoding="async" data-nimg="1" class="relative overflow-hidden false " sizes="(max-width: 768px) 100vw, (max-width: 1200px) 50vw, 33vw" srcset="https://cdn.zeptonow.com/production///tr:w-984,ar-984-132,pr-true,f-auto,q-80/inventory/banner/6fb2be97-3019-40ab-9e89-8683e72ae47e.png 256w, https://cdn.zeptonow.com/production///tr:w-984,ar-984-132,pr-true,f-auto,q-80/inventory/banner/6fb2be97-3019-40ab-9e89-8683e72ae47e.png 384w, https://cdn.zeptonow.com/production///tr:w-984,ar-984-132,pr-true,f-auto,q-80/inventory/banner/6fb2be97-3019-40ab-9e89-8683e72ae47e.png 640w, https://cdn.zeptonow.com/production///tr:w-984,ar-984-132,pr-true,f-auto,q-80/inventory/banner/6fb2be97-3019-40ab-9e89-8683e72ae47e.png 750w, https://cdn.zeptonow.com/production///tr:w-984,ar-984-132,pr-true,f-auto,q-80/inventory/banner/6fb2be97-3019-40ab-9e89-8683e72ae47e.png 828w, https://cdn.zeptonow.com/production///tr:w-984,ar-984-132,pr-true,f-auto,q-80/inventory/banner/6fb2be97-3019-40ab-9e89-8683e72ae47e.png 1080w, https://cdn.zeptonow.com/production///tr:w-984,ar-984-132,pr-true,f-auto,q-80/inventory/banner/6fb2be97-3019-40ab-9e89-8683e72ae47e.png 1200w, https://cdn.zeptonow.com/production///tr:w-984,ar-984-132,pr-true,f-auto,q-80/inventory/banner/6fb2be97-3019-40ab-9e89-8683e72ae47e.png 1920w, https://cdn.zeptonow.com/production///tr:w-984,ar-984-132,pr-true,f-auto,q-80/inventory/banner/6fb2be97-3019-40ab-9e89-8683e72ae47e.png 2048w, https://cdn.zeptonow.com/production///tr:w-984,ar-984-132,pr-true,f-auto,q-80/inventory/banner/6fb2be97-3019-40ab-9e89-8683e72ae47e.png 3840w" src="https://cdn.zeptonow.com/production///tr:w-984,ar-984-132,pr-true,f-auto,q-80/inventory/banner/6fb2be97-3019-40ab-9e89-8683e72ae47e.png" style="color: transparent; object-fit: contain; width: 100%; aspect-ratio: 7.45455 / 1; margin-bottom: -1px; padding-left: 16px; padding-right: 16px;">
      </div>
    </div>  
  </div>

  <div class="container">
    <div class="d-flex justify-content-between align-items-center mb-2">
      <h5 class="mb-0">Products For You</h5>
      <p class="mb-0"><a href="<%= all_products_path %>">See more</a></p>
    </div>
  </div>

  <div class="container" style="overflow-x: auto; white-space: nowrap; width: 90%;">
    <% @products.first(8).each do |product| %>
      <div class="mr-2" style="display: inline-block; position: relative; width: 180px;">
        <%= link_to product_path(product) do %>
          <div class="card" style="width: 170px; height: 220px; position: relative;">
            <div class="card-body CB_1" style="overflow: hidden; text-overflow: ellipsis; box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);">
              <h5 class="card-title" style="font-size: 16px; white-space: normal;"><strong><%= product.name %></strong></h5>
              <p class="card-text" style="font-size: 14px;"><%= product.weight %>grms</p>
              <div style="display: flex; align-items: center;">
                <h5 class="card-text" style="font-size: 16px;"><strong><%= number_to_currency(product.price, unit: '₹') %></strong></h5>
              </div>
            </div>
          </div> 
        <% end %>
        <div style="position: absolute; bottom: 15px; left: 60%; transform: translateX(-50%);">
           <div id="quantity-buttons-<%= product.id %>">
            <% if user_signed_in? %>
              <% if @cart.cart_products.where(product_id: product.id).exists? %>
                <%= render partial: 'carts/quantity_buttons', locals: { cart_product: @cart.cart_products.find_by(product_id: product.id), product: product } %>
              <% else %>
                <%= form_for product, url: add_to_cart_carts_path(product_id: product.id), method: :post, remote: true do |f| %>
                  <%= f.hidden_field :product_id, value: product.id %>
                  <%= f.submit "Add", class: "button" %>
                <% end %>
              <% end %>
            <% else %>
              <% if session[:cart] && session[:cart][product.id] %>
                <%= render partial: 'carts/quantity_buttons', locals: { quantity: session[:cart][product.id], product: product } %>
              <% else %>
                <%= form_tag add_to_cart_carts_path(product_id: product.id), method: :post, remote: true do %>
                  <%= submit_tag "Add", class: "button" %>
                <% end %>
              <% end %>
            <% end %>
          </div>      
        </div>
      </div>
    <% end %>
  </div>


  <div class="container">
    <div class="d-flex justify-content-between align-items-center mb-2">
      <h5 class="mb-2">Explore By Categories</h5>
      <p class="mb-0"><a href="<%= all_categories_path %>">See more</a></p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <% @categories.each_slice(7) do |category_slice| %>
        <div class="row">
          <% category_slice.each do |category| %>
            <div class="col-2">
              <a href="<%= category_path(category) %>">
                <div class="card category-container " style="width: 100%; height: 150px;"> 
                  <div class="card-body">
                  </div>
                </div>
                <h5><strong><%= category.name %></strong></h5>
              </a>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  

  <div class="container " style="margin-top:40px;">
    <% @products.first(10).each_slice(5) do |products_slice| %>
      <div class="row " style="margin-top:10px;">
        <% products_slice.each do |product| %>
          <div class="col mr-2" style="position: relative; width: 180px;">
            <%= link_to product_path(product) do %>
              <div class="card" style="width: 210px; height: 260px; position: relative;">
                <div class="card-body" style="overflow: hidden; text-overflow: ellipsis; box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);">
                  <h5 class="card-title" style="font-size: 16px; white-space: normal;"><strong><%= product.name %></strong></h5>
                  <p class="card-text" style="font-size: 14px;"><%= product.weight %>grms</p>
                  <div style="display: flex; align-items: center;">
                    <h5 class="card-text" style="font-size: 16px;"><strong><%= number_to_currency(product.price, unit: '₹') %></strong></h5>
                  </div>
                </div>
              </div> 
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

</div>