<% @products.each do |product| %>
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title"><strong>Product: <%= product.name %></strong></h5>
        <p class="card-text">Category: <%= product.category %></p>
        <p class="card-text">Weight: <%= product.weight %>grms</p>
        <p class="card-text">Price: <%= number_to_currency(product.price) %></p>
        <p class="card-text">About: <%= product.about_product %></p>
      </div>
    </div>
  <% end %>
  