<h1 style="margin-top:90px;"></h1>

<% if @products_in_cart.present? %>
  
<div class="container-fluid" style="padding-left:0px; padding-right:0px;">
<div class="container-fluid">
  <div class="row bg-blue">
    <h4 id="delivery-time" class="mb-1">Delivery in <%= @initial_delivery_time %></h4>
  </div>
</div>


  <!-- Add navigation bar -->
  <!-- Render products in the cart -->
  <% total_items = 0 %>
  <% @products_in_cart.each do |cart_product| %>
    <!-- Render cart product details here -->
    <% total_items += cart_product.quantity %>
    <% if cart_product.quantity.zero? %>
    <!-- If the quantity is zero, remove the product from the cart -->
    <% puts "Deleting product #{cart_product.id} because quantity is zero" %>

    <% cart_product.destroy %>
  <% end %>
  <% end %>
  
  <div class="container C_2">
    <div class="row">
      <div class="col-1"></div>
      <div class="col"> <!-- This column will contain the cart title -->
        <h5>Cart(<%= total_items %> items)</h5>
      </div>
      <div class="col-3"> <!-- This column will contain the "Add More" button -->
        <%= link_to "AddMore", root_path, class: "btn btn-outline-danger text-decoration-none"  %>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-5 C_1">
        <div class="card n_1 border-0">
          <div class="card-body">
            <% @products_in_cart.each_with_index do |cart_product, index| %>
              <% if cart_product.quantity > 0 %> <!-- Check if product quantity is greater than zero -->
                <div class="product-details row">
                  <div class="col-md-10">
                    <p class="card-title"><%= cart_product.product.name %></p>
                    <p class="card-text">Price: <%= cart_product.product.price %></p>
                    <!-- Add more details as needed -->
                  </div>
                  <div class="col-md-2">
                    <!-- Add the add-to-cart button here -->
                    <div id="quantity-buttons-<%= cart_product.product.id %>">
                        <%= render partial: 'carts/quantity_buttons', locals: { cart_product: cart_product, product: cart_product.product } %>
                    </div>
                  </div>
                </div>
                <% if index < @products_in_cart.size - 1 %>
                  <hr> 
                <% end %>
              <% else %>
                <!-- If quantity is zero, remove product from the cart -->
                <% @products_in_cart.delete(cart_product) %>
              <% end %>
            <% end %>
            <br>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card n_2">
          <div class="card-content">
            <h2>offers for you</h2>
          </div>
        </div>
          <div class="card n_2 mt-3">
            <div class="card-content">
            </div>
          </div>
      </div>
      
    </div>
  </div>
  



<% elsif current_user %>
  <!-- If user is logged in but cart is empty -->
  <h1 style="margin-top:200px;"></h1>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <img src="https://cdn.zeptonow.com/app/images/empty-bag.png?tr=w-640,q-70" alt="Empty bag" width="48" height="48">
        <p>Your cart is empty</p>
        <%= link_to "Browse Products", root_path, class: "btn btn-outline-danger text-decoration-none"  %>
      </div>
    </div>
  </div>
<% else %>
  <!-- If user is not logged in -->
  <h1 style="margin-top:200px;"></h1>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <p>Please log in to view your cart</p>
        <%= link_to "Login",new_user_session_path, class: "btn btn-outline-primary text-decoration-none"  %>
      </div>
    </div>
  </div>
<% end %>
