<!-- app/views/addresses/_existing_address.html.erb -->
<div class="existing-address">
  <div><strong>Address:</strong></div>
  <%= address.current_location %>,
  <%= address.house_no %>, <%= address.block_no %>,
  <%= address.landmark %>,
  <%= address.address_type %>
</div>
