<!DOCTYPE html>
<html>
  <head>
    <title>Zepto</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.19.0/font/bootstrap-icons.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  </head>

  <body>
    <div class="container-fluid">
     <div class="row">
       <nav class="navbar navbar-expand-lg navbar-light bg-skin-primary-darker fixed-top" style="height: 90px;">
           <div class="col-md-1">
              <a class="avater" href="#">
                  <img alt="" src="https://cdn.zeptonow.com/web-static-assets-prod/artifacts/7.0.3/images/logo.svg" width="105" height="35" decoding="async" data-nimg="1" class="relative overflow-hidden false max-w-none" loading="lazy" style="color: transparent; object-fit: contain">
              </a>
          </div>
          <div class="col-md-2">
              <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Dropdown <i class="fas fa-caret-down"></i>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search for over 5000 products" aria-label="Search">
              </form>
          </div>
          <div class="col-md-3 login ">
              <ul class="navbar-nav ms-auto">
                  <li class="nav-item ">
                  <a class="nav-link text-decoration-none", style: "color: white; " href="<%= new_user_session_path %>">Login</a>
                  </li>
                  <%= link_to "#", class: "btn btn-danger btn-lg text-decoration-none custom-btn", style: "color: white;" do %>
                  <i class="bi bi-bag"></i>
                     <span>My Cart</span>
                 <% end %>
           </div>
         </nav>
       </div>
     </div>

    <%= yield %>

      <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

   <% if user_signed_in? %>
     <%= button_to(
        "Log Out",
        destroy_user_session_path,
        method: :delete
      ) %>
    <% end %>
  </body>
</html>